/* ===== BODY ===== */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f2ff;
}

/* ===== NAVBAR ===== */
.navbar {
    background: linear-gradient(90deg, #6f3dd8, #9b5de5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.logo {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #ffebff;
}

/* ===== HERO SECTION ===== */
.hero {
    text-align: center;
    margin-top: 120px;
    animation: fadeIn 1.2s ease-in-out;
}

.hero h1 {
    font-size: 48px;
    color: #4a217e;
}

.hero h1 span {
    color: #8b35ff;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    color: #6b6b6b;
    margin-top: 10px;
}

.btn {
    margin-top: 25px;
    padding: 12px 30px;
    background: #8b35ff;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #6f00ff;
}

/* Animation */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

/* ===== POPUP ===== */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    animation: popupScale 0.4s ease-in-out;
}

@keyframes popupScale {
    from {transform: scale(0.7); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}

.close-btn {
    margin-top: 15px;
    padding: 10px 22px;
    background: #8b35ff;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.close-btn:hover {
    background: #6f00ff;
}
